In [19]:
#Нейро-нечеткие системы
#Лабораторная работа №3
# https://www.kaggle.com/dinhanhx/studentgradepassorfailprediction
#Задача: классификация данных

In [2]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn


from ipywidgets import Select, SelectMultiple, interactive,  Layout, Box, Label
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import *

In [3]:
#оригинальный датасет
df = pd.read_csv("student-mat-pass.csv", delimiter=",")
df = df.select_dtypes(include=['number'])
df = df.fillna(0)
df.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1
5,1,0,16,1,1,1,4,3,1,2,...,4,2,1,2,5,10,15,15,15,1
6,1,0,16,1,1,1,2,2,1,2,...,4,4,1,1,3,0,12,12,11,1
7,1,1,17,1,0,0,4,4,2,2,...,1,4,1,1,1,6,6,5,6,0
8,1,0,15,1,1,0,3,2,1,2,...,2,2,1,1,1,0,16,18,19,1
9,1,0,15,1,0,1,3,4,1,2,...,5,1,1,1,5,0,14,15,15,1

In [4]:
#выбрать столбец, который будет отвечать за тип
yselect = Select(
        options=list(df.columns),
        value=list(df.columns)[0],
        description='Select file:',
        disabled=False
    )
yselect

Select(description='Select file:', options=('school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', '…

In [12]:
x = df.drop([yselect.value], axis = 1).copy()
x.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,1,18,1,0,0,4,4,2,2,...,4,3,4,1,1,3,6,5,6,6
1,1,1,17,1,0,1,1,1,1,2,...,5,3,3,1,1,3,4,5,5,6
2,1,1,15,1,1,1,1,1,1,2,...,4,3,2,2,3,3,10,7,8,10
3,1,1,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,2,15,14,15
4,1,1,16,1,0,1,3,3,1,2,...,4,3,2,1,2,5,4,6,10,10
5,1,0,16,1,1,1,4,3,1,2,...,5,4,2,1,2,5,10,15,15,15
6,1,0,16,1,1,1,2,2,1,2,...,4,4,4,1,1,3,0,12,12,11
7,1,1,17,1,0,0,4,4,2,2,...,4,1,4,1,1,1,6,6,5,6
8,1,0,15,1,1,0,3,2,1,2,...,4,2,2,1,1,1,0,16,18,19
9,1,0,15,1,0,1,3,4,1,2,...,5,5,1,1,1,5,0,14,15,15

In [13]:
y = df[yselect.value].copy()
y.head(10)

0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    1
9    1
Name: pass, dtype: int64

In [14]:
#разбиваем на две части, для обучения и для тестирования
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y)
# test_size=1/60

In [15]:
def RandomForestN(depth):
    pltx = []
    plty = []

    for depth in range(1, 40):
        model = RandomForestClassifier (max_depth = depth).fit(x_train, y_train)
        y_get = model.predict(x_test) # прогнозирование новых выборок
        plty.append(sklearn.metrics.accuracy_score(y_test, y_get))  # точность подмнож
        pltx.append(depth)

    plt.plot(pltx, plty)
    plt.grid()
    plt.show()

    m_depth = pltx[plty.index(max(plty))]
    pl = plot_confusion_matrix(model, x_test, y_test)  
    mp = plot_roc_curve(model, x_test, y_test)  
    n_classes = len(pl.display_labels)
    
    print(f1_score(y_test, y_get, average='weighted'))
    print(recall_score(y_test, y_get, average='weighted'))
    print(precision_score(y_test, y_get, average='weighted'))

In [16]:
interactive_plot = interactive(RandomForestN, depth=(1, 5))
display(interactive_plot)

interactive(children=(IntSlider(value=3, description='depth', max=5, min=1), Output()), _dom_classes=('widget-…

In [17]:
def GradienN(depth): 
    pltx = []
    plty = []

    for d in range(1, depth):
        model = sklearn.ensemble.GradientBoostingClassifier(max_depth = d)
        y_get = model.fit(x_train, y_train).predict(x_test)
        plty.append(sklearn.metrics.accuracy_score(y_test, y_get))
        pltx.append(d)

    plt.plot(pltx, plty)
    plt.grid()
    plt.show()

    m_depth = pltx[plty.index(max(plty))]
    pl = plot_confusion_matrix(model, x_test, y_test)  
    mp = plot_roc_curve(model, x_test, y_test)  
    n_classes = len(pl.display_labels)
    
    print(f1_score(y_test, y_get, average='weighted'))
    print(recall_score(y_test, y_get, average='weighted'))
    print(precision_score(y_test, y_get, average='weighted'))

In [18]:
interactive_plot = interactive(GradienN,depth=(2, 40))
display(interactive_plot)

interactive(children=(IntSlider(value=21, description='depth', max=40, min=2), Output()), _dom_classes=('widge…